ul.tracking
  margin 0
  list-style none

  li
    background white
    border 1px #818181 solid
    margin-bottom 1px
    padding 0 10px

    .timeslices
      display none

  li:hover,
  li:focus
    background #44BBFF

    .timeslices
      display block
      .date
        font-family: Armata
