.filters
  margin-left 0

  .filter
    margin-left 0
    margin-bottom 10px

  i
    visibility hidden

  .current
    overflow hidden

    ul
      display none
      margin-left 0
    i
      visibility visible

  .current:hover ul
    display  block
    position absolute
    background white
    border 1px solid #b4b4b4
    list-style none
    padding 5px
    margin-left 16px
    margin-top -5px

  .date
    .current
      display inline

  .date:hover i
    visibility visible

  .search
    input
      padding-left 20px
      padding-right 8px
    i
      position absolute
      margin 8px 0 0 6px

